*{
  font-family: Lora, serif;
  margin: auto;
}
#Tennis\ in\ Astana{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;

}
#Tennis\ for\ Adults{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.Heading{
  display: block;
  justify-content: left;
  text-align: left;
  margin: 50px 0;
}

